.bg-1 {
    background: url("images/Group_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.mmg {
    position: relative;
    top:50px;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/Gilroy-Light.otf') format("opentype");
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('fonts/Gilroy-ExtraBold.otf') format("opentype");
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('fonts/Nexa-Bold.otf') format("opentype");
}
@font-face {
    font-family: 'Nexa-Light';
    src: url('fonts/Nexa-Light.otf') format("opentype");
}
.logo {
    font-family: 'Gilroy-ExtraBold';
    color: #fff;
    position: relative;
    right: 20px;
}
.menu {
    color: #fff;
    font-size: 20px;
    font-family: 'Nexa-Light';
    margin-top: 11px;
    float: left;
    margin-left: 32px;
}
.mrgin {
  position: relative;
  right: 64px;
}

.contact {
    text-decoration: none;
    color: #6426dd;
    font-weight: bold;
    font-family: 'Nexa-Bold';

}
.contact:hover {
    color: #6426dd !important;
}
.box-contact {
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    left: 205px
    
}
.mttop{
    margin-top: 40px;
}
.creative {
    font-size: 88px;
    font-family: 'Nexa-Bold';
    position: relative;
    right:63px;
    color: #fff;
    top: 158px;
}
.design {
    font-size: 88px;
    font-family: 'Nexa-Bold';
    position: relative;
    right:63px;
    color: #fff;
    top: 158px;
}
.text-small {
    font-size: 16px;
    font-family: 'Nexa-Light';
    position: relative;
    right:63px;
    color: #fff;
    top: 172px;
}
.text-small-2 {
    font-size: 16px;
    font-family: 'Nexa-Light';
    position: relative;
    right:63px;
    color: #fff;
    top: 158px;
}
.box-learn-more {
    width: 180px;
    height: 50px;
    background-color: #00dadc;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    right: 71px;
    top: 170px;
}

.learn-more {
    text-decoration: none;
    color: #171718;
    font-weight: bold;
    font-family: 'Gilroy-ExtraBold';
}

.inspiration {
    position:relative;
    top: 714px;
   
}
.group3{
    position:relative;
    right: 169px;
}
.about-us{
    font-size:20px;
    font-family: 'Nexa-Light';
    color: #6422db;
    letter-spacing: 6px;
    margin-left: 2rem;
    position:relative;
    top: 160px;
}
.half-circle {
    position:relative;
    left: 537px;
    top: -337px;
}
.digital {
    font-size: 65px;
    font-family: 'Nexa-Bold';
    position: relative;
    top: 160px;
    margin-left: 2rem;
    line-height: 59px;
}
.digital-small {
    font-family: 'Nexa-Bold';
    font-size: 22px;
    margin-left: 2rem;
    position: relative;
    bottom: 356px;

}
.learn-more-2 {
    width: 270px;
    height: 68px;
    background-color: #ffc727;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    bottom: 329px;
    left: 28px;
}
.learn-more-text {
    text-decoration: none;
    color: #171718;
    font-weight: bold;
    font-family: 'Nexa-Bold';
    font-size: 18px;
}
.bg-3 {
    background: url("images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 853px;
    top: 750px;
}
.marketing {
    position: relative;
    top: 100px;
}
.service {
    font-size:20px;
    font-family: 'Nexa-Light';
    color: #6422db;
    letter-spacing: 6px;
    position:relative;
    top: 259px;
    right: 72px;
}
.business {
    font-size: 65px;
    font-family: 'Nexa-Bold';
    position: relative;
    top: 277px;
    right: 71px;
    line-height: 59px;
}
.business-text {
    font-family: 'Nexa-Bold';
    font-size: 22px;
    position: relative;
    top:298px;
    right:68px
}
.learn-more-3 {
    width: 270px;
    height: 68px;
    background-color: #ffc727;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    top: 329px;
    right: 70px;
}
.learn-more-text-2 {
    text-decoration: none;
    color: #171718;
    font-weight: bold;
    font-family: 'Nexa-Bold';
    font-size: 18px;
}
.bg-4   {
    background: url("images/Group7.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position:relative;
    height: 1357px;
    top: 943px;
}
.testimonial {
    font-family: 'Nexa-Light';
    font-size: 20px;
    color: #fff;
    top: 288px;
    position: relative;
    letter-spacing: 6px;;
}
.wps {
    position: relative;
    top: 277px;
    color: #fff;
    font-size: 70px;
}
.testimonial-card {
    position:relative;
    left: 500px;
    top: 269px;
    z-index: 3;
}
.stack {
    position: relative;
    right: 348px;
    top: 298px;
    z-index: 2;
}
